BattleshipArchive/src/resources/ArchiveWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://ws.revature.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.revature.com/">
   <xsd:complexType name="archive">
      <xsd:sequence>
         <xsd:element name="arg0" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="archiveResponse"/>
   <xsd:element name="archive" type="ns0:archive"/>
   <xsd:element name="archiveResponse" type="ns0:archiveResponse"/>
</xsd:schema>
